body {
    background: #1e004d;
    box-sizing: border-box;
    font-family: 'Tajawal', sans-serif;
}

section {
    background-color: rgba(239, 239, 239);
    width: 50%;
    margin: 0 auto;
    direction: rtl;
    margin-top: 130px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    text-align: center;
    background: rgb(92, 52, 155);
    color: #fff;
    padding: 5px 0;
}

.header h1 {
    display: inline;
}

.header .btn {
    float: right;
    background: #fff;
    margin-right: 10px;
}

.circular {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    /* font-size: 20px; */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.38);
    cursor: pointer;
    line-height: 0;
    font-size: 20px;
}

.circular:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 1),
        0 5px 8px rgba(0, 0, 0, 0.5)
}

.circular:active {
    box-shadow: 
        inset 0 -2px 2px rgba(0, 0, 0, 0.5),
        inset 0 2px 2px rgba(0, 0, 0, 0.5)
}

.task-box {
    padding: 10px;
}

.info {
    width: 65%;
}

.info h3 {
    margin: 0;
}

.info .date {
    font-size: 12px;
}

.task {
    display: flex;
    background: #fff;
    padding: 4px;
    border: 2px solid #ccc;
    border-bottom: 1px solid rgba(0, 0, 0, 0.568);
    transition: box-shadow 0.2s;
    margin-bottom: 5px;
}
.done {background: #9efda0;}
.task:hover {
    box-shadow: 0px 3px 10px rgba(66, 66, 66, 0.543);
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.del {
    background: rgb(138, 0, 0);
    color: #fff;
}

.check {
    background: rgb(0, 150, 30);
    color: #fff;
}
.cancel{
    background: #cc1c1c;
}

.edit {
    background: rgb(0, 16, 197);
    color: #fff;
}